{block content}
  <h1>Nette Blog</h1>
  {foreach $posts as $post}
    <div class="post card">
      <header>
        <h2>{$post->title}</h2>
      </header>
      <section>
       <div>{$post->content|truncate:256}</div>
		  </section>
      <footer>
        <div class="date">{$post->created_at|date:'Y-m-d H:i'}</div>
      </footer>
	  </div>
  {/foreach}
{/block}
